/*Bio style*/
.bio-title {
      font-size: 45px;
      line-height: 2;
      margin-bottom: 20px;
}

.bio-occupation {
      margin-bottom: 27px;
}

.bio-about {
      color: #595959;
}

.bio-title, .bio-occupation  {
      color: #2a2a2a;
}

.bio-occupation, .bio-about {
      font-size: 14px;
      line-height: 1.714;
}

/*Projects list style*/
.projects-tittle {
      font-size: 22px;
      line-height: 1.091;
      color: #2a2a2a;
      margin-bottom: 14px;
}

.projects-item {
      font-size: 14px;
      line-height: 1.714;
      color: #595959;
}

/*Jobs style*/
.jobs-title {
      font-size: 22px;
      line-height: 1.091;
      color: #2a2a2a;
      margin-bottom: 26px;
}

.jobs-occupation {
      font-size: 16px;
      line-height: 1.5;
      color: #2a2a2a;
      margin-bottom: 16px;
}

.jobs-time {
      font-size: 12px;
      line-height: 2;
      color: #828282;
      margin-bottom: 18px;
}

.jobs-list {
      margin-bottom: 28px;
}

.jobs-item {
      font-size: 14px;
      line-height: 1.714;
      color: #595959;
      margin-bottom: 10px;
}

/*Education style*/
.education-title {
      font-size: 22px;
      line-height: 1.091;
      color: #2a2a2a;
      margin-bottom: 26px;
}

.education-degree {
      font-size: 16px;
      line-height: 1.5;
      color: #2a2a2a;
      margin-bottom: 16px;
}

.education-time {
      font-size: 12px;
      line-height: 2;
      color: #828282;
      margin-bottom: 18px;
}

/*Right side*/
.right-side {
      padding-top: 68px;
      padding-right: 200px;
      padding-bottom: 68px;
      padding-left: 80px;
}

.bio, .projects, .jobs, .education {
      margin-bottom: 60px;
}

/*Global style*/
.link {
      color: #595959;
      text-decoration: none;
}

.accent, .link:hover {
      color: #ff6b08;
}