a {
      color: black;
      
}

body {
      padding: 25px 0;
      background-color: gainsboro;
}

.mysql {
      margin: 0 0 20px 0;
}

.space {
      margin: 20px 0 0 0;
}

.profile {
      padding: 20px 0 0 0;
      margin: 0px 50px 0px 50px;
}

.container {
      width: 1200px;
      height: auto;
      margin: auto auto;
      background-color: white;
      font-family: 'Fira Code', monospace;
}

.left-side {
      width: 430px;
      position: absolute;
}

.right-side {
      margin: 0 0 0 430px;
      border-style: none none none solid;
}

.references-link {
      margin: 0 0 20px 0;
}

.spanish-line {
      width: 210px;
}

.english-line {
      width: 147px;
}

.profile-title {
      margin: 0 0 19.92px 0;
}

.hobbies-item-last {
      margin: 0 0 18px 0;
}

.skills-list{
      padding: 0 0 0 0;
}

.presentation-job {
      margin: 0 0 16px 0;
      font-size: 24px;
}

.details-title {
      font-size: 24px;
      margin: 20px 0 0 0;
}

.presentation-name {
      font-size: 48px;
      margin: 0 0 0 0;
      padding: 25px 0 0 0;
}

.skills-item-left {
      width: 230px;
}

.skills-item-right {
      margin: 0 0 0 180px;
      position: absolute;
}

.languages-item-title {
      margin: 8px 0 0 0;
}

.skills-item-first {
      margin: 0 0 20px 0;
}

.details-list, .languages-list, .hobbies-list, .experiences-list, .education-list {
      list-style: none;
      padding: 0 0 0 0;
}

.spanish-line, .english-line {
      height: 10px;
      color: black;
      margin: 0 0 8px 0;
      background-color: black;
}

.presentation, .profile, .experiences, .education {
      border-style: none none solid none;
}

.details-line, .skills-line, .languages-line, .hobbies-line { 
      width: 58px;
      height: 5px;
      color: black;
      border-width: 0;
      text-align: left;
      margin: 0 190px 8px 0px;
      background-color: black;
}

.skills-title, .languages-title, .hobbies-title {
      font-size: 24px;
      margin: 19.92px 0 0 0;
}

.profile-title, .experiences-title, .education-title, .references-title {
      font-size: 24px;
}

.details, .skills, .languages, .hobbies, .experiences, .education, .references, .presentation {
      margin: 0px 50px 0px 50px;
}

.details-item, .skills-item, .skills-item-right,  .languages-item, .hobbies-item, .profile-bio, .experiences-item-title, .experiences-item-item, .education-item-title, .education-item-item, .references-link {
      font-size: 20px;
}